---
import Tabs from "../../components/Tabs.astro";
const map = {
    "title": "Rétrospectives des inondations en Europe de l'année 2024",
    "abstract": "",
    "description": "",
    "date": "23 avril 2025"
};

import MapLayout from "../../layouts/MapLayout.astro";
import events from '../../../public/data/retrospective-inondations-2024/events.json';
events = events.sort((a, b) => new Date(a.date) - new Date(b.date));
---
<MapLayout {...map}>
    <div class="w-1/4 border-r flex flex-col p-2 pr-1">
        <h2 class="text-2xl font-bold">Événements</h2>
        <div class="flex flex-col gap-1 overflow-y-auto custom-scrollbar pr-1" x-data="{}">
            { events.map((event, index) => (
                <>
                    { event.event && (index === 0 || events[index - 1].event !== event.event) && <h3 class="text-lg font-semibold underline">{event.event}</h3> }
                    <div class="p-2 border cursor-pointer hover:text-white hover:bg-black group" style={ events[index + 1]?.event !== event.event ? 'margin-bottom: 1em' : '' } @click={`window.selectEvent(${index})`}>
                        <div class="flex justify-between gap-1">
                            <h3 class="font-semibold">{ event.name }</h3>
                            <div>
                                <span class="text-sm px-1 text-white bg-black group-hover:text-black group-hover:bg-white">{ new Date(event.date).toLocaleDateString() }</span><br />
                            </div>
                        </div>
                        <div>
                            { event.death ? <span class="text-sm">&bull; { event.death } mort{ event.death > 1 ? 's' : '' }</span> : <></> }
                            { event.evacuated ? <span class="text-sm">&bull; { event.evacuated } évacués</span> : <></> }
                            { event.homes ? <span class="text-sm">&bull; { event.homes } bâtiments touchés</span> : <></> }
                        </div>
                    </div>
                </>
            )) }
        </div>
    </div>
    <div id="map" class="h-full w-3/4 relative">
        <div class="absolute top-2 right-2 z-20 bg-[#fffaea] border p-2" x-data="{}" @tab-selected="window.selectIndicator($event.detail.value)">
            <h3 class="font-semibold">Indicateur</h3>
            <Tabs elements={["Morts", "Déplacés", "Bâtiments"]} initialValue="Morts"></Tabs>
        </div>
    </div>
</MapLayout>

<script>
    import 'ol/ol.css';
    import Map from 'ol/Map';
    import View from 'ol/View';
    import VectorLayer from 'ol/layer/Vector';
    import VectorSource from 'ol/source/Vector';
    import GeoJSON from 'ol/format/GeoJSON';
    import proj4 from 'proj4';
    import {register} from 'ol/proj/proj4';
    import {Fill, Stroke, Style, Circle, Text} from "ol/style";
    import {interpolateRgbBasis} from 'd3-interpolate';
    import Feature from "ol/Feature";

    proj4.defs("EPSG:54030","+proj=robin +lon_0=0 +x_0=0 +y_0=0 +datum=WGS84 +units=m +no_defs +type=crs");
    register(proj4);


    loadMap();
    async function loadMap() {
        // data
        const events = await fetch('/data/retrospective-inondations-2024/events.json').then(res => res.json());
        const eventsSource = new VectorSource({
            features: new GeoJSON().readFeatures({
                type: "FeatureCollection",
                features: events.map((event, index) => ({
                    type: "Feature",
                    id: index,
                    properties: {
                        name: event.name,
                        death: event.death,
                        evacuated: event.evacuated,
                        homes: event.homes
                    },
                    geometry: event.geometry
                }))
            }, {
                dataProjection: 'EPSG:4326',
                featureProjection: 'EPSG:54030'
            }),
        })

        const countriesSource = new VectorSource({
            url: 'https://raw.githubusercontent.com/leakyMirror/map-of-europe/refs/heads/master/GeoJSON/europe.geojson',
            format: new GeoJSON(),
        });

        // style
        let currentIndicator = 'death';
        const indicatorMap = {
            'death': (value) => value == 0 ? 5 : (value / 200 * 50) + 10,
            'evacuated': (value) => value == 0 ? 5 : (value / 20000 * 50) + 10,
            'homes': (value) => value == 0 ? 5 : (value / 70000 * 70) + 10
        };
        const indicatorTextScale = {
            'death': 15,
            'evacuated': 24,
            'homes': 25
        };

        const map = new Map({
            target: 'map',
            layers: [
                new VectorLayer({
                    source: countriesSource,
                    style: {
                        "stroke-color": "black",
                    }
                }),
                new VectorLayer({
                    source: eventsSource,
                    style: function (feature) {
                        let value = indicatorMap[currentIndicator](feature.get(currentIndicator));
                        let textScale = indicatorTextScale[currentIndicator];
                        return new Style({
                            image: new Circle({
                                radius: value,
                                fill: new Fill({
                                    color: '#0d2d55'
                                }),
                                stroke: new Stroke({
                                    color: 'black',
                                })
                            }),
                            text: new Text({
                                font: value / textScale + 'em "Source Serif 4"',
                                text: feature.get(currentIndicator) > 0 ? new Intl.NumberFormat('fr-FR').format(feature.get(currentIndicator)) : null,
                                fill: new Fill({
                                    color: 'white'
                                })
                            })
                        });
                    }
                })
            ],
            view: new View({
                projection: 'EPSG:54030',
                center: [881240.1853814595, 5016383.577103197],
                zoom: 5.5,
            }),
        });

        var selectedEvent = null;
        window.selectEvent = function (index) {
            if (selectedEvent !== null) {
                eventsSource.getFeatureById(selectedEvent).setStyle();
            }
            selectedEvent = index;

            eventsSource.getFeatureById(selectedEvent).setStyle(new Style({
                image: new Circle({
                    radius: 6,
                    fill: new Fill({
                        color: 'black'
                    })
                })
            }));
        }

        window.selectIndicator = function (indicator) {
            console.log(indicator);
            if (indicator === 'Morts') {
                currentIndicator = 'death';
            } else if (indicator === 'Déplacés') {
                currentIndicator = 'evacuated';
            } else if (indicator === 'Bâtiments') {
                currentIndicator = 'homes';
            }
            eventsSource.changed();
        }
    }
</script>
