---
const { id, title, date, description } = Astro.props;
---
<div class="border p-4 flex flex-col gap-2 h-full hover:text-white hover:bg-black group">
    <img src={`/data/${id}/preview.png`} class="aspect-16/9 object-cover" />
    <div>
        <h2 class="font-serif text-xl text-bold font-[700]">{ title }</h2>
        <p>
            <span class="bg-black text-white px-1 group-hover:text-black group-hover:bg-white">
                {
                    new Date(date).toLocaleDateString('fr-FR', {
                        day: 'numeric',
                        month: 'long',
                        year: 'numeric'
                    })
                }
            </span>
        </p>
    </div>
    <p set:html={ description }></p>
</div>
