---
import '../styles/global.css';

const { title, date, description, abstract } = Astro.props;
const id = Astro.url.pathname.replaceAll('/cartes', '').replaceAll('/', '');
---
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Cartes. | {title}</title>
    <meta property='og:title' content={ title }/>
    <meta property='og:image' content={ `https://cartes.bastien-marsaud.fr/data/${id}/preview.png` } />
    <meta property='og:description' content={ abstract }/>
    <meta property='og:url' content={ `https://cartes.bastien-marsaud.fr/cartes/${id}/` } />
</head>
<body class="bg-[#fffaea] font-serif max-w-[1600px] mx-auto pt-6 pb-8 flex flex-col h-screen">
    <div class="flex">
        <div class="border-b border-r p-4 flex items-center">
            <a href="/"><h1 class="font-serif-title text-6xl hover:underline">Cartes.</h1></a>
        </div>
        <div class="flex-1 border-b p-4">
            <h2 class="text-3xl text-bold font-[700]">{ title }</h2>
            <p class="w-10/12" set:html={ description }></p>
        </div>
        <div class="border-b flex items-center">
            <p><span class="bg-black text-white px-1">{ date }</span></p>
        </div>
    </div>
    <div class="flex justify-end"><a href="https://www.linkedin.com/in/bastien-marsaud/" target="_blank" class="font-[700] underline">Bastien MARSAUD</a></div>
    <div class="flex mt-8 border flex-1 overflow-y-hidden">
        <slot />
    </div>
</body>
</html>
